{% extends 'default/footer.twig' %}

{% block sunat_ri %}
    RI - N° 018-005-0001643/SUNAT
{% endblock %}

{% block url_consulta %}
    <a href="www.hvcontratistas.com.pe">www.hvcontratistas.com.pe</a>
{% endblock %}