<table style="width: 100%;font-weight:bold;" cellspacing="0">
        <tr>
        <td style="width: 25%;text-align:left;font-size:8;color:gray">
            <img style="width:150;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA8AAAAIwCAIAAADGUZVhAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
bWFnZVJlYWR5ccllPAAAKhVJREFUeNrs3eFZ20jbNuDd93j+Jx2ErSCkAkgFcSoIVLBOBUsqcJ4K
SCqAVABUEFIBpAJIBfnuD73rgxds2ZZmpJF0nj9yZLNgWxpLuubWaOaPPwAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAnv1pFwAA
lf39/ZcvX1Z/33tQ/f3+/v76+nr5Y5eXl/YVAjTAUB0eHtb83ydXffrNZI/D2WPRRtFSj/9CN8dO
FZEPDg6iXaJ1dn2Fqr3iz58/f8afUjUCNIw8b1V/xmVjmxB2+6D6S1wnqv90pe9YdaWPlnr16tXe
v7b/9bi0R3v9+PEjGq5qPru0g2aqP7I2Nlb8xYGWUKTkaJE478WfDeLylpE6XF1dRdtVp00QoGGo
iTm8fv06Lhg7Ra6NqtJLXCqq0ovLfKa2i+v9usplG9Fk2i6JaJ1lM6U9xJY92GijyNPn5+cyWbMG
+vDhQ77QXNNw0WTfvn1TmQYYzAXj5OTk4uLid4e+f/++WCyaldxYigQ2n8/Pzs66bLv4qsQXpuN4
MXSz2ez09PTm5qbLloq3izeNt7b/tzkNxhmp4wZa12pHR0daBKDoK/rd3V2/V4v4AK7xzXJzdEJ6
v9JH5pCkNx5lvwsQvSyx7LmXL1/GoVRCbn7eTXVkARTk8PCwhNy8LkmrSdeLDNTxvYItk/TJyUmO
AQnD7eFE18JRVngbFdK3qWksfR4AhZbd7mAmH8UrkHVTNpv4zYQyeziOsidFhEG0UUWGBuiz0FJ+
9npefTk5ORGj9/f3C6+TCWfL6DyIDuqUj7JhRWcZGqDP6Px7yKYcoyM6D/FiP8G2G2J0fj6uY9wt
FSfDjp+1TdtAxkMDiM6i2ISar2q7sbbUbDYbdHSewlEWWxTbNfTWib606xqAq0XzgQGab6BtN7Kx
0UO/P1ATo+fzuR6OgRwAExJXi8GNdW5QiRnrbA9jutiva7sR3IkecR916fv370OfqSOaabhjNhSh
AToSmXKU9bB1RjYqYHwX+7G2XcTKcXdyHlssFgMd0RHNNMpSgpkiAVI6OjoafeF5ZZFsHA/WTOG+
wTjaLgLl1I6y6C0MrhQ94may4BRAMhFEfk/VCBYamGAmG2Ipem9vr/d1H/stRQ+imV6+fDnuZhrx
87gAXV8wJlh7fmKgM3BNPJMth3WW33YTvEWw8qZB4eMH9vf3R99MAjRAGqN/mGk0V/cnxjpGs9lt
hJKHczjEHrdUscM5JjKMTYAGSEMIG0oOe3Kx115PFDgU5+XLl2OaTH3ELTWfz+18AHaoYrqcD+4C
I5MNYqDt6EfTthw05YDqhfUIARJwc3lwGVp6HkQyk56H0lKTOqBubm5c9QAE6KlUyKTnYbWd9Lyl
2Ev9PgA6tQNqKHOhAJRuUiunDD1DS8+DaDvpeSgZeoIHlFVUAFSgp5WhpedBtJ303EAv60tP8IAy
/waAAD2tm57S8yAytPQ8lJaa4HkvvpmudwDJzGYzF++N+n2mUCdnKP0fA6IG0VITnAKy97Hm0N6f
dgFFqZYhtB82Oj4+/vLlS/fvGxf7Mh9n1HbP7xKYYbf8ljo8POxlxEiNy8vL+PP6+vrXr1/P/++r
V6/2/tXs9T9//vzp06f7+3tfMARoSOns7Gw2m3XzXnESj+vE7e3tz58/H188/nhYRLeqkbx48SL+
3uaCkcmbN2/iw3f5jrEfyrnxWrXd1dVV9Zd1zVf95eDgYPkvU2i7+XxeyPwGT5rpcWM9+WpF68Sf
r1+/3n8whZaKU0oJtdg4aqKBrh/EyXCnE0KoDq5tmix6I1+/fl0epCBAQ0q5SzLV1SL+rC7nu362
6hoff+k9T8eHj6v7The8NuIyf3Nz0+/FPjY2Gu7bt2+7XumXeSUa7t27d/Fn7xsSbZepCFdCUfP8
/Hx5lDX7ssVWRDKLvnS/B1q+loptjGbqq6sQWxRtFIdStFGqratOj7FdcYZcHl9VeSK+BgnfCIDV
ko/dvLu7Oz09TVvYjkvFfD7v9yGtLstXPQ6ojeC+WCzSRo34MsRXosd148/OzjL1c/rdqOS3j6Ld
o/XjOzCylurrSdwub/Fl+oYf/ssqhgD/x97eXqoQkDw3r/y0PV7guxmR3NeDg7F1cZnMumnx9YhI
0cvW5fhm9tLPiS9/dCZz9+UiLfXV50neUt0/LR37LU5Tw513Ob5dcRZaeZodepcAIKWWT6bH1SLO
th1fLeIz91KQzv2sWASX7i/2HTdfvFe8Y8fhLN4ubeiMFNt9dO74UcXYY7GZHfdX07ZUwgLB9kfT
oGe92ObYjK9E7s42wJgzdO9XiziJdxyjY5Pz3cqshj5P5GJfVbm6DDcJH/WL70CXn7z76Pz8/NDl
NzPhqh9d3iU4PT0d9Gp/1XOWO22vCfIA/v81cqdMEHGkkLPnrp+8/WDoTBsSu7TL0ZklXOzjK9Tl
Vqf6xnYWy+KLPZ/PSzjKqg7PsIrQnd0liHPC0CuyzfqEJpkG+N8KxDZP2/T4PHshOSzHuridDd4o
8PZrfJ5uCpxJwmhnsayQTs6Tb2k393zaV9w7e8RzBKtkt1lHU4YGxhOC4wIfl96LRyJczmazLU9z
1YN6z2ts8S9xqSj5WezOclhIvh+6ySXl3Dd4fgnvYKqE9ncPuoll8RYlr8zSQWe1/XQcHTyuGmeb
ccxN0bJBZWhg2Kopacc9Sq+QHJZ8IEcHKwxHJiv/8fkO9kPLK303Kb/8g7SDcVMtT4a5mylOtuNI
jfFlK+oBA4ByU2OxZcj2IiN2Nh461eDUDoqakcmGUiqL6JN1b7QZvtLBMJsBPZiV+0nKNt/Y3Pdz
upnRshuphiSZlwMYXnpucLUYRJVr1/3Q5TDoqqabZB/mfjZrcDdYsyazNmX43M8ODq6Ml7WlGgey
3PcxCnmsM5VU3+rel+QE6Oj0lyr/FVK27GV1lfaFqNzl54GWyvIls8aPfOUeFVDyoOdeWqpZgM49
F+RAm6lGIbd3ADrVsniZb0a2LnVceE57zchafh70jeZMyaxxAMpafh50LMvUUs2OrKwH1PjSc9oA
rQgNDEOShz8GPQdTZ5Nq1cwV0GZ0RNbyc/t5DEaZzJrFsqzl5xEMCcjRUg3GQGc9oEY2ciNHgFaE
BiZUeU2+xHFnOlvWId+kFvk2YTQTSyV/bq/ZsKV85efRPI6WPEM3+Az5puge01ODWQP0CPrtwMgl
rLUMrrISGajLFXpX3qlsP3w8X7VsuJ2ilRI+E3Zzc9Ps+5bvizSmk1J0KfvNYZlGP49jqFs3Abpx
HxVgePXXYV3FI+53uXD382yaqr+Rb66AcSzukGNfNZvmItPczyPr56RtqQajjTMdUKNspqy9jhEs
zQiMWdqz3iA2OS5j/Rae0879l2n09livXkniUYPmy3ejYKyjRdu3VOzwBu+b6eQw+kG9yZdsbHaf
B2BIZZ6l8kssXa6Q0kEwzbQkx7ifgm9516XZMNZMdc1xV+la7rQG5edMw2ymsMBejoHj5S96CkxU
8lpLyVWWCPfJayS7Fp6TD4rIMSpgTBN7J99vjW/E57hRMIUSXeMM3awTmGMuy2imcQ/eyNeZH/Ez
l8CA5ai1FBu8ci/s3FcJKsdGTWToYYOCWeztZl2gTHXNiUz11SBDN549Jsfjg9Mpoybfe80G4QDk
lWPuswI3s/uluZ/XnzIFnYSTFUxz3OFO43naTJmS4+72pIpz0W/ZPpw17qzmOKAmtSaIURyAasFI
stdO191Mhed8d29zjN+Y2voF0Tobd2OE7JZLx+UYvzG1Sb6ipaLPX9/hibTaZpRUjgNqfFPZ1LeR
jiIw/orO6M90I1ghpV7y8RuTXUE3wmh0dZ73tSL4RnRu2QXKMX5jsjN8RVvM5/MnD29EM0XztY+q
yQ+oCYa/5J0Qc3EAZRn3vbahL829jRyLQls+N8Lu4b+KPdZGP6PwaGoKkyo/5+suTnA3AuVKni/L
qRPkW4a3kMJzJfnA7smWn3NLPveLm9o5JL9hNdkDKvkXfnBr3AKjlWOkWgn3lMexNHdfXSAP62SS
fGCAJY5zSH7qmOwBlbyE0Ww9doD0kj9sXsI95aOjo3Eszd1LF8hAw0ySDwwQJjJxQBV7djKZHan8
j11ASwcHB2lf8Pz8/P7+vsfzdaSK09PTvkL89fX1mzdvPn/+3GUsS/uCX79+dVzkkHxYuZYaRDPF
KXGyOzOuBWk3P07s7roARUh+97/HhzxGtjT3lpKP13R9yiTteFCluKEcUBN/7i35wvUGmAFFGMfN
ym1m8M0qx9LcvcSy2BAHRSZppyH3+GAmaQdAGxCVfC6Oyc7bCBQk+fRnmRap3rgVI14hpeNY5iH3
oXRW1eEySXsXq5dTYmnS3uc09B/oX/JHpLufPHisS3P3FctMszqUzqpdmkPyh970c5KfpU2yCfQv
7bCHjgdl9r5CSo+PKmaKZW4355N2JKgMoZ8zIMnnerJLac8sHLSS9nGxy8vLzj75yclJj8OO7+/v
379/f3x83ON8I5W0Cb7LFnSstXF1dWWXZuqWJ3y16+tru9R+QIDG1WKDHz9+dBNEIjr/888/fe20
8/Pzv/76q5CpqYbYgtP06tUrXZ3y6ZHmcHt7m/YFex84hwCNq8XArhbz+bzfwvPx8fH79+97Lzwv
vXjxIuGrKRRl7fhpqfK9fv064av9/PnTLtWXoEz/sQtoLHkMzXpRj/xxenraY+EhLgCRnpOXUopq
RBe5Qbh/YD+UX1PQz3n8pS22mZgmFWgKOgflu6jPZrPv37/3lZ5juz5+/Pj27dvS0vNQmo8/kt50
FsuGclYc9xljJ2mHh5ksiPZUoClFpuJltUJKj1NBRVg5Pj6eQmQRy3R1SJvMBGgolgo0Y+7EVyuk
9JieP3369ObNm5KTpYdpJsiznvo5g6MvgQDNeJR8szI+22KxuLi46GusW4TmiM6TWjPWzGiQ9hxi
JwjQFMsQDkqR8Hnzw8PD09PTtLMW7OTz58+fPn1SQAIAARoG4OTkpMc5nm9vb4+Pj01GAQACNAzA
/v7+6elpjyOzz8/PS1hcEADIyhhoRqL3FVLeP5CeAZLrcUgerKQCzRhOrP2ukKLwDCBAMykq0JSi
2ZrSVeG53xVSFJ7btCAgMnbMnB60pwJNKXYdfdH7CillLs3dYCtSdT8s7jUUr169shME6GF5/fq1
AE1RVKAZ5DkocnO/K6RMYWluipLwLodkxuD0NaM/QHqHh4e/07m7u9vyNHp2dva7Pz0+qpjDxcVF
wp3joBhES0Xn0/7MJM4PCQ8oC4UupT2Ni+O0pwLNkAoMcTmJ65OluRNKuy0uS4OgAp1P2schHFCZ
vrGeWkGApk/JBzDUlFuWS3P3de2PjR3l0ty/fv1K+GqGQQ+lq6O0OYgA7YDKsR+skY4AzdgC9Lqz
ZPx7ROf5fN7Xln7+/HlkhedMjSiW6epM3I8fPxK+2sHBgV2afD8oPyNAM7b4tfI565OTkx6HHccG
vn379uPHj2M953bQgiSRtv+mpTJRgc4hbc/86urKLqU909jRNn4lHFPx5Cxpae7nV9PYRcthkbHz
rx+UE8tUoIfS1dFSg+jnxMEeR/3EhxxUO6HYQwmgicVikfbh6GUcn8/nd3d3fU21EW/d46OKz68f
JycnNzc362ZUiH3V5mGjtPtZzSyftF9yLZXpaE3bTD0OXSvE0dGRbz7g1Lb5ahEZOu3caruKdy/n
4ffI8dsE3DazYqfd2+N7zrIcaadIk8wySdsjjUaf+P5MO2/plvOlAuQVXfnksyz3W3guKlXsWuCP
n2/wLhF5Xe8H4fT0VEuVL3n/f8rTDiav6Efr+IoCRfg9Fj3OkZcwLTXI0LPZzPV+EKJ3p6XKl7ZH
OvF7BclvcrpFBoy23NKL0s6qbWqNu47liBSVdmc2K4SzUfIbPsJEDmmXaJ34vYK0w5Ys7giMudxi
ae6Wu/Tu7m7XMdzrnlA0yrA0aQc4WdM7h+SjDib73FvyrohTEzDmc9yUC8+p9ueu93zTDq4NR0dH
Do0c0j5QpaUySV43jSPUt729eEFfTqAgQ4zONzc3Bd7Le/nyZZJi8K73fJMPNPSkTibJh0FrqRxy
3Jeb2oD15EPLdBeB8dcJclssFuVMVJfpurvT5TbHTecpjzWMnR+X6tPT04tH4lvXfnLxHKliyi0V
LRLN9LhgfHd3Fye0aL42p4jko9UnWITO8XRNmad9QFVsAOLqWGxciGyUcITrrpuZ/KbzNEubkZzq
+5M3Nzcty2BpB6xPtqXirFW/J+NgbDPEK8d0nNMpQucYGWj8BlBi8htEeo4TaMkViLQDkXe99ufo
BU2qtBlfre3n7W7zVUy+/OfUWio6Odt3F+Mnm7VU8ucKJhUBk/fnjd8AJnS+S1t4Lmdp7m4qLrsG
6By9oOlMvxUZa9dDoHEyyzE8YDotteXSnu1bKvn06tPp6uTozDeYmwigC8mfQkt7h7rwU2eqZwdb
TjCSoxc0hTUgovma3a9vXFBM/m2ZSEs1DrXNRrnkaKZ4zXEHwbQj2SY+jQkwjAxRZuF5ELEgx035
BgE6U+Fn3AM3G9Se28dWLdXA/v5+m2TWoKVyHNe/x75QUaabmdOcSBsYhhxj/loWngcRCDJNpN1g
yEqmXtC4n1FrOQVNszvLmZ46GHFLNb5L0Kal8j0cMtaBHJmW5TJXIzDFINhZ/bUXme5XNq64ZOoF
jXXJ6CS7q9nOyTR35ChbquVdgjY7J8dcbGMd0Ztp1LjHB4EByDHmr8HjUEO5W5fqur7y+lpaL2h8
NbNU4/6braedr6UKf9y2x25hg5bKFwobP4RappYDbJIfXwCDjBQTGR2Yb9BLm+mu8mX6MQ1DTPtV
b7ZnMvVXR9ZSaY+yBqPC8pUVRvNgXL4bccrPwGD0VYQuc2nuXtJzyyJivl7QaGpmyatlza7x+Vpq
NFM9JH/assFJJmtZYQQZOt+NOOVnYNJXrC0Lz8O63mdNz+2vGfl6QSPI0DnuNTceeaylOk6uzWZN
yVpWGHSGzpqelZ+BgZ0QuyxCl79CSsfpOck1I2vNbNDJLNNIzcYBOmt/ddAtlek73Kylco9tG2iG
3mlJSOVnYPw6Gwld+NLcvaTnVBM2Ze0FDTSZHR4eZhqp2Wbui9wtNcTx0JkmYG7zLGzussLgMnS+
pwZH/DgsMH4dFKEHd8GIyJhpTqskF/iOe0HxDRlWMsu6Q8ocsz7QZwqz9lEbH18dlBUGVFCIvZE7
PZv7GRikbuaEHtDiw7lvVuboVOT+wHEFHcoIxXwVzUrLFX866K8O4ljLPaA2tPl4HfSfy79jEG3U
zZJblh4EhqqDq8VQii4RPnKXW35nWIq5m15Q4Q+Axi7N/U1uP1Kzm5Yq/FibzWa5j7I2s0NWvehu
HgsptrfTTR3h99hXOwdGLuvUnk8uGMVOYBeBI9OKcd3UCLv58HFNLbMFO8hkqS723bRUmc/sxlGW
+xZBqsdzu/mc1QCGtN3p9m2UaZnulT3S8S3TCExLZ2fMMstj3RSesw7466wXVFopuoPCc6rxG923
VBxr5YSzCPTdTPuTZPXsLicpig8cZ+ASjqnO2ijtcyAAfermht3jC0YJWx1n8I43PF+g6XJi7xLu
PndZKks7bL3jKdh7D2dxlHXWyfndbqaUJ2myy2bqN0Z33EYGbwDj0cFcRc/v3/X4aFr3F4wOHvDq
eIv6asEqOnf8dU3b8+m4papw1n01uvujLEn5eamzgRw9xujoJ3R/Jvz+/btrLjAevaxNGCEs3nf0
F4z2DzZto8vhAb2Es3iXyDTdb2PyalkvLVXV0bu5bx49q16OsrQjvztebepJS2WdniK+gXHi7WXr
BjffIsBmnT1I9/yUmvvSXmWvvi6HnT0u0/F95yc9hIhNOTYzXjNeua8vZ6a267GlYouiz5MjxMRr
9tLDyddH7WZGjpqWiv2ZsKWq3NzXoZSjkwNQhA7mZ93mgpHwDBvXnsgK/W5UxxWXbmZvrc8xcZFu
v8n95ualfG3Xe0stD7eWPYTo+vbYO80xeONJNf1332LrqsOqQZUhvsCxCfFl67eBDH2mL3/aBXQj
zrYXFxclPBJ+eXl5dXV1fX19e3sbf25fYglxmTk4OIhtKWFDjo+Pv3z50uU7FrJMw/39fTRc1Yjx
92jQbaJYNN/r16/jLyVswsePHz9//jz6lgrVUfbjx4+qsao/aw6xqpniwxcyl8KbN2+2P0s06OoU
tZbQ7YPY3l+/fi0PtGXTVD8TJ8A4+xU1WCLOAG/fvnWRRYBmtGazWQcDdptdM+IvEcie/K+4kL98
UODQuohfEcI6ftNq7GaZc6yuTGZltl10e6LzM9mWGpAO+qjlrx1YuDjwIz2v65UBjEQJdy1HIO2S
3TvpflqVkck0Y7eWSq6bOTF7H942aFln8AQoS+8DNIeu96maenxMbQRt12VVuJslvvVRW+pr7pQR
pGfFe0CGpsQE5k7C0NtOSw3iDo/bBdIzgAw98vQsmQ2r7bRU4elZhpaeAWToSaRnyWxYbaelCk/P
MrT0DCBDTyI9L5OZS/4g2m42m2mpktOzDC09A+xgsVi4KpR/XXfJb+bs7Kycno+WqjGfzwtppr29
PfNySM8AW1UxXRvWGcQKWy75Q+n5mDRtpaJWM9FM6+7kmLEO4KnDw0O1sfKv6/WXfANyhtJ2bvsM
oqjpgCrzTg6AKqbrevqbCTpCsQcKWYa6hiHRvwt+tMDduce6WdEGYMBUMSsXFxfDLbdE7p9yR2hA
N5rjc8Y3zeCo8g+om5sbfVEAVDHrlPMwUxsnJycy2SDE921qh1ts72w2G1Zl4ezszLANANTGVhcv
x/SM+aRK0Tc3N8MtlU3qcBvu7Z3pVBZiM8dRRwBQGzPOr3kpevSNuFgsRlAqG/3hNoJYNoWuztnZ
mdk2ANqawqjouCKO+4IRWzfWG9CDLjxP6nAbUyybzWajHBUdGzWsoTUApYuMMsrBAJO6YEQjjumq
f3d3N9abBvv7+2Mqc46sk7Ps6ozp3s6IjyaA/h0dHY0mgcWGDGiOZ434xOnp6ejvMkfoHHqMHv1Q
2vgSjuCOQURnDwsCSGCi85gbMTLlpBYTns1mQ4zRVUVzIrFsoDE62mixWBjuDNB1AhvcoA7RedAx
OjLKZKekHVA1elLR+UmMHsqgjjjqVZ0Ber6uD6L0MuXstU0jlvyIYSSSKQzY2DKiLRaLYiNa9Kh1
UCOVllxciG6YNgJwzdh8RZ/P5wotW4az2FdFNWIVyDTfc7FbyunzVD2cSY2r2b63U8gdnupMqBcK
IIS5WuQSSejk5KTHRtR8O3VcI0n3UpOOaBi52axnJR9QFxcXDiVG7E+7gFFe2uPKenBwcHh42M3p
+/b29vLy8tu3b/Hn/f29JkjSHYrm66YRq+a7urqKP+Pvdv6uDh9UjZXvXeLIWjbT9fW13d7grPj6
9etoo3wF+2iXZRs5EyJAw7Bz2P6DuLrHn6nuyN8+iOtEdcFwqeisEfcetMxh0WrRfD9//qyimOZL
qGqpaKNorDjcGme1ql3iz1+/fmmmHH2eaJpXr15V7dXsxFidBqNp4lCqzoR2LAI0jFN1Ra9C2IsX
L5ZX95WxbHnNjj9//Pix/BfXiRIidXiczx635uMmq1RNVgUye6+Xg26Z22qi2OPGopdjquoCrcvT
y2Z63F4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAOn/aBQCQyf7+/suX
L5/84+0DOwcAAJ66uLj4/czJyYk9A4P2P3YBAAAI0AAAIEADAIAADQAAAjQAAAjQAAAwef+xCwBo
bH9///Dw8OXLlwcHB8t/vLq6ur+/v7y8vL6+bvPie3t7+w9ev369nE05XvPnz5/n5+f5plKuNire
ND5A9S/xXj9+/Gi/RQk/YYiP92S3x+eMPRM7P9P7xjvGnql2y5cvX8xmDQCwQ5A6PT29u7v7Xevm
5ubk5GQZQ7d3dHT0/fv3+hePH4gfq3+dePeVvxufPD7/8w+28X1ji2azWf2b/m5km8mhoxcRPxaf
of6lzs7OIubWv9TKCaqXTfZ88Zd4wSe/svEtAAD43+i8LnutE2l1+6VDIpZtDIhPYvT+/v6uAXr5
wZZJcaftivDdfYCez+cbeyxPYvTzHLwxQFfi/z5O7fFSz39GgAYA2Ozo6GinDLd96KwsFosGrxwf
aV0puj5Ah+oXI4Lvul01m5M8QEeE3bXTsiwnr+tdbHzBqjwfb72uJC9AAwBsEJHxdzv1RdaWr79y
ZMXGAF2NMGnWK1g3liPtzqmJsFv2LlYOodkYoKt8XPNjAjRTZhYOADZbLBYbBxxv9Pfff9ek55av
v3JM8zbqhzrU75Pcu72qPdeMUdnmFWIDm/3ufD6XkmEls3AAsMFsNossVf8ztw+qxLYu8FX/6/lE
FkcP1r3yly9fqvkl/ngYqXxwcLDyh+PFI9G+f/9+p0378OFDs9j9x7+ThGSdlyO2aN3OvL+/r/ZM
NedG/Ni7d+9W5t34X9F8nz9/3jV5//PPP778AAA7iyBVM8Lh5uYm4uyTCm4ky3WjmZ8nvJrXX1cb
jhdZ9ytPXj/+8+TB9qOrv3//Hj9/+K+InjUPNW588q/xhBvVh9/1fePTbnxcctlpqfbMygcEq0He
24zxAADgqZogFf+rZvDDyl98nrrWDVOuf+hwXbis+a2No34jOq8MhTWjkB/PVpE8QK/7wPVjXdbt
z5rf2nIsdXRChGYAgA329vbWJaqNI4BXJrknCWxd+fnm5mbjuOSVAT1erVmArh8JvW4/RLDOFKDX
9RC2GdC8smRe84vbTDnSbJg4AMDkrBsSsE2MOzo6unjmyYje+JkGRdbKbDbbaWhBTYCOHLwxIK4r
QmcK0OsK/9uM2F43XqVZgG7/8CgAwISsS42NH7zbJibWVJHbxNOaAL3NNBfrEm2mAL1rFfmxddXr
dV2LlrN3wwSZhQOA1dbNp/Hly5dqToz2aqrFjV/zxYsXO/38+fn5NjNp/Pz5s7M9v/fg+b9Hc2yz
Z9ZV03cdhnF/f//x40cHAgjQAGxrXV3227dvCZPiypzX5mG1XWdN/vr1a2l7fl2Bf12w3n7PRG9h
+5//73//W82RBzxhIRUAdotxqWY+brM+SEKXl5dD6bp07MuXL44CWEkFGoDdAnSq8RslTOwQ21Jg
kbWQPdOgoau7B1UHIHZsdE526m7FL1bbHr/VrF3i12ez2fKre/0g1TcWBGgAxmmn4DWpaJV7z5yc
nDxfvDAy9Nu3b7d8hYuLiypAHx8f71r/jvD9999/r5wz5OPHj7suxAgCNABDEpHr6uqqza+Pdc9E
pmzzLONOA6B3HaizTM8R05e/u9NY9tlstiy9RxTeKUDH7z6erHr5HagehDWJNQDQkV0nWm6gy6nT
Vk5jt/10H+tW+GuwgRunsVs3D12mKZnbLJe4VC2I82Q9mp2eB60mClw20/aPS0ZErt49/oyP/Xxh
+ULGlDMmHiIEYLV1N/HfvXuX6i1WDiqwXvS6sRYHBwdlfuBllffJxB3VMOhtXiF+veoefPz4sfri
bd9bWCwW1bu/ffs2AvSTvRevluqxVxCgAdhg3YNcs9ks1VusTFd7e3sJ36JAG2eqXrfnI1OWORph
+akaf7yqxauwW00s+OHDhy2ze9Xj+vTpk6CMAA1A/9YF3Pl8vutLrawrr5tS+u+//x7xXt2mxL5u
vHKDPd/N96RK/P/880+zDF3d1vjvf//7x7/T52059GK5Mz0mCAAU4ejoaN0izzsNtKgGED+vK0fY
Wvf6OyXFbYrWvYyBXrd++Ma9t24A+pYLjz9+nY2DiZOMgV7un2og8k4LvsQPPxn3XK0hv1gsNv5u
NXI6ft7RCgCU4ubmZmXAipy0zSjViETLEBkv9bw8WQWgNs/MxY/Fh1n54r0H6LOzs5W/FZ92Yw6u
2fPbZOjYG9Vnjs/QQYB+vouiZbfM+tFZehKCq3+JLd34u1Wztln7HQAgsZoidBXO1oWkiM7Pw/Hz
WBY/Vk2hsO71a2qZs9nscSyuz3yZAnR95btm71WV2pqIWVOErjZ2XYeheiDvcf6uL3inCtDL1P74
rbfpBVX15sf3HJa3Jra8sSBAAwBlWTcO4XE9NbLyyb/i7+uqpyunJ6vKjTXiA8TLHv4rMtm6t6hJ
25kCdP1LRRCs6R5sLGavK2AvI3j8QOy95Z6Jv8e/PH/H2FfdBOjHPYfl1HL1dwaW4zciKx8+UqXq
jXMaVp20+g0EAOhafZF4VytHFNQnxe3VBOJeAvQ2v1gToCN61nRFdlITiHME6D8ezWZdX4ReLBb1
n7w+fy97XzuNuoaWzMIBwAa3t7dv377daSHodeJFPn369Pzfj4+Pk8xBFqGttFUzPn/+3HjTYne9
f/8+yZ7/8OFDx1PgLadwqY+2Gwdp1P/AcrqS56uIAwD0LIJpy2ro9+/fa7JUxLuWdej65xpbVqC3
GWey7ndjq6sBCbtWoJd7fptfrx9jU9OvyFSBfjw2Y7kh1fCMx5tWM7VI9X17fMvi+Ss8btmN463j
I1W/bnFvAKAjbTLuloEscmqz4SKRouornS0D9DIONgjQW+66+l/fONRhneVCffkCdDXwPYLy8o0e
9xmW/7hsguUv1o9gfj484/kr/PF/hxjFTn4SryNzLxP8cjiN1S4BgE5F+Nj4WOHjqnCEpF1nBa6Z
227loOpt8lDLAP3HptHM27xUfM6aGN3Xnk8SoLeZi/B5/K2C77r3WnZalhN0rAzQVUqu6Xctm0aA
JpX/2AUA7OTyQbV2ybt371ZmkWpN5m/fvp2fn+86hDd+9/j4+OPHj8vXf15AjdeMz3B1dRWvHz+/
zct+/fo1fv75e+0UE798+fK4zrrrS1W7Ln69Gqv96tWrZcDd/tc37vnlntlyz68clb5yEcp14r1i
W57smfgk0YjrllT842Fwc/Xz1dKD675FsaM+fPhQv9Bg/Nhff/0VOTt+8kmfIXaCJb5J7k+7AICW
IgY9HsO6U/ba0uOwGHkoyXN19nxyew+q7LtT5yTHZ+j3YwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAM0P8TYABLxiwxhJmSnQAAAABJRU5ErkJggg==" />
        </td>
        <td style="width:40%;text-align:center;color:gray;font-size:10;">
            <br/>
            Calle Los Telares N° 197<br />
            Urb. Vulcano - Ate - Lima - Lima<br />
            Telf.: <a href="tel:012037000">+51 1 203 7000</a>
        </td>
        <td style="border: solid 1mm #000000; width: 35%; text-align:center;font-weight:bold;font-size:18;padding:5 0 5 0">
            <span>R.U.C. N° {{emisor.documento.numero}}</span><br />
            {% if type == '01' %}
            <span>FACTURA</span><br />
            <span>ELECTRÓNICA</span><br />
            {% elseif type == '03' %}
            <span>BOLETA</span><br />
            <span>ELECTRÓNICA</span><br />
            {% elseif type == '20' %}
            <span>COMPROBANTE DE RETENCIÓN</span><br />
            <span>ELECTRÓNICO</span><br />
            {% endif %}
            {% set toks = documento.numero|split('-')%}
            <span>{{ toks[0] }}</span>
            <span>-</span>
            <span style="color:red">{{ toks[1]}}</span>
        </td>
    </tr>
</table>