<table style="width: 100%;font-weight:bold;" cellspacing="0">
        <tr>
        <td style="width: 15%;text-align:left;font-size:8;color:gray">
            <img style="width:110" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQCAYAAACAvzbMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
bWFnZVJlYWR5ccllPAAAEmNJREFUeNrs3TF2E8mfB/Dy/Cf/e04wzQkw2SY8RLYbYaINkROHDJwA
fAIbQic2J8BEGyI/gg0RJ0CzF0BzAm+XuzQYGGyprW51V38+78nymzFgVbfqq19VV/VWgOj1/ZPy
63iFPzFLj8X3f5aPefmYXj4//TDVqJC3LU3ALUJk2ZCZpoCZlsEy0dAgQMgzRN6XX0cN/yvT9Dgv
H5MyVGYaHgQI/Q+Q7fLrx/JRtPivTi+DJIQ3hr5AgNDvENlJIbIJcR7lrHy8EiYgQOhniLwsv77Y
8G8xuwySEE7LMJk7KCBA6E+IfA7tDmXdVJUcmC+B7vhFE3CNg478HnFeZlw+Pl9eKfb6fuHQgAoE
Vchtwu3I0BaoQFCFrOpFqkjGDhGoQOhuFfIlVMNIXTUpH3vmR0AFQvecdfz3G4V42fHr+88cKhAg
dMt5D37HWCEdliHyNi2GBAQIHTDp0e+6Wz7ep8WQQIPMgbCc1/cvevYbx6uzHtu8EVQgbF7fthXZ
TpXI2KEDAcLmP9H30YkQAQHCZs16/LsLERAgbNCfPf/9Y4iMHEYQILRvksFreOvqLBAgtG+WwWvY
TiFinQgIEFpTbROSQ4gUIQ5nAQKEVuVyh8Bd256AAKFd5xm9lhfuKwIChPZMMnotcR7EUBYIEFrx
9EMcwsrpBk4j60NAgNCes8xez6GrskCA0I7zzF5PDA8T6lCD3XhZTfVp/UtmryoOy93pxf3Vq9X0
8RgsFkTeDTffLXIWvu4kMLl8vdVwJAgQWu/E3ofqLoA5OSg71Zcda+citfODFBjrXkU/TeFyfvm9
re8RILTQscUhn0NVSCNtG0PiSahujFXc4m+aXAmJv2742QfpeSf9/LvLP69KQYDQ0Cfjzxm+ss1U
IVV7jlNwrBoa8xQWn9Lz9NYhWA2TxTDZTn//WdqJAAQIa+n0chzGarcKqTrqJyk8VhGvhDtvrUqI
ASdA+Ae/agJqepNhgMRP3HHo6LSF4HixYvtNUpuftT7MJjxQgdBAR/gl3HwFUN/EIaB7jX2Sr1a/
LxscsxQapzpxBAi5BcjL9Ek6N/fWOjRUXfoc22nZ9SZVtfH0w6mTjC4zhMVtHGUaIE/CunYeroar
YtVRLBkcBy6nRQXCUKqQw5DfSu640O63FquOWfl4Xv6bZ04oBAhDCpDYUcZLenObC3lYuxKo1nLE
qmOZhX/dW8AIS7IXFrdTXRH0KsNX9qhmeIzLr++XCI84RHZPeKACgdf3YxVSZPSKZmXnfmfFNlh2
OO+o/LufO2lQgUBlL7PXU6x0x8LX90+WCI9YrT0WHuTiX5qAtfif/5uF//o9zoP8R0av6lP5uqY3
BMd2+br/t/zuP5cIj4eusEIFAv/sIKzr8tduuHtjeCw/33HH5oQIEPiZakJ9L+Rz29vRmsLjYS/u
NQIChA2HyDTkMx9yXTgcCg8ECKw/RM6yCZFqJfn3/y1OmI9v+JOLCXPhgQCBFUPkNDS9q207iu/C
Y7xkeDy0ASICBOqHyF4GIVJcCY/FCvObPDdhjgABIfIghUecNH+7xM+f2kUXAQLrDZG+Lp5b7PF1
GG5eaT/r8euEldnKhPa8vh/v9ncS+rfx4uMlqw8LBREg0GCIrLJTbVfMlwg9+1shQKClIMnpPiIx
YO64ZJehMQfCZlSf1h+GPLY+eS48UIHAZqqRcagmqft4U6rVt30HFQisrRo5DXEIqNqMcdaz3/7A
AUQFAt2qSJ6E6zYzVH2AAIFrgqQov8ZLfx91NEz2LBpEgEA/AmWUgiSuDo+XAW9yzsSVVwgQTUDP
K5TiSnXyID2vGi7T8PUeJvNU9dzkNK2wBwEChFXWp9yzYSJD5yos+NZ4iZ+ZCQ8QIHC1+ohDV8sM
fZ1pLBAgcNWjJX/unaYCAQJXLTN5PrfjLggQ+KraJXiZ4StzHyBAYOXqIzrXVCBA4KoHS/7cRFOB
AIGrlr3B1UxTQcVCQqhWtH9e6meffvCeARUI/K1Y8udMoIMAgW8sO3xl40QQIPCNZTdeFCAgQOAb
y16B9UlTgQABQIDArRWaAAQICBAQIAAIEAAECGTl9f1tjQACBOrY0QQgQAAQIAAIEMjH75oABAjU
UWgCECAACBAABAgAAgR6YrbCz440FwgQqDz9MNMIIECgebY+AQECV6xyq1pbn4AAgb9NNQEIEGi6
AhlpLhAgsPBphZ/9t+YCAQILsxV+1hwICBAI4eI4FP/9r4+rXFlVlH9mlB6FFmTItjQBGYbC6Eq1
EMMh7qK76OyL0NymiLMr1Ux8/jNU8yuXk/Rb+2Hi6CBAYPMhsZOCYOdKQCwCo8sWgbIImMvvy3Bx
JRgCBBqqKGI43E1BMcr0pU5SsMRJ/amKBQECq4XFdgqIByk0RgNvkkmqUs7j92WozJ0lCBD4MTAW
lQY/N02hIlAQIAwyNGJI7JaPRwJjLYHyrnycmUdBgJBraCwCI1YZhRZpxCxVJ+/KMDnTHAgQcgiN
+GwX23bFoa0zYYIAoU+hEYek/hAanQyTV4a5ECB0LTSKFBgxOAot0mmzGCShmjOZaQ4ECJsKjhga
T1J40D+xKnljiAsBQluhEYelxqqNLKuSU5cFI0BoIjhiWLwI5jZytpgrOTC8hQBhHcExCl8nxRmO
xaT7RFMgQKgTHLHiGGmNQZukikSQIEAQHAgSBAiCA0GCAGGDwVGUTyeCgxpBsmeyXYAw3OCIFcdY
a3ALp8FVWwKEQYXHy1BdWeVyXNYhXv4b15EcWUciQMg3OOKluIfBAkCaEauQ51a2CxDyCo4YGOY5
aMskmB8ZhF80Qfbh8bJ8+ig8aFE81z6mcw8VCD0Mjp1UdbjjH5s0TdWIbeQFCD0IjjgxHq+ueqY1
6JCjUF2tZZJdgKDqANXI0JkDySc8XoZqrkN40FXx3DQ3ogKhQ8FRlE9vBQc9rEYeu1JLBcLmwmOs
6qDn1chYU6hAaDc44kR5XBDozUcOTkO1ANEEuwCh4fAwUU6OTLALEBoOj90UHvawIkfzFCK2QukJ
cyD9CY84ZPVWeJCxeG6/Tec6KhDWEBzbqepwT3KG5CxVI+ZFBAg1w8N8B0NmXkSAcIvweB8MWTFs
sQJ5KES6yRxIN8NjHKr1HcKDoYvvAetFBAhLhkfcBPFES8A3TtJ7gw4xhNWt8IjB4ZMW/Nzp1n7Y
0wwCBOEBQkSAcIvgsC0J1AiRYPsTASI8Lq+0cpkurC5emfVQiAgQ4QEIEQGC8AAhIkAQHiBEECDC
A4QI62QhYbvcehaas5PeYwiQ7KqPuM5jpCWgUaP0XqMFhrDaC4+xloDWWGyoAskiPCwShPaN3ZhK
BdL38IjBoZyGzYn3EznVDAKkb+ER7yBoQg8277H7rAuQPoWHm0FBd7gplQDpTXjE0PgsPKBzIXLH
GpH1Mom+/vBQeUD3XL4303sUAdJJ8aoPCwWhm3bSexQB0rnqI95uc6wloNPGbo27PuZA1hMeo1AN
XQH9ECfVJ5pBgGw6PEyaQ/+YVF8DQ1i391Z4QO9sB+u0BMiGq4+XwQaJ0Fej9B6mJkNY9cMjBod5
D+g/8yECpNXwMO8B+TAfUpMhrHpOhAdkYzvY9FSAtFR9jMunXS0BWdlN721WYAhrtfAoyqePqg/I
UhzCure1H2aaQgXSBENXkC9DWQKkseojbn8w0hKQtZGtTpZnCGu58CiCoSsYCkNZKpC1OhQeMBjb
wa69AmRN1Ue84spVVzAsu+m9zzUMYV0fHvGTSBy6KrQGDM4sVENZFhiqQGp5ITxgsIrUB6ACWbn6
iCfPZy0Bg3fHhLoKZFWuBwf0BQJk5eojTp6NtAQQqrUhJtQFyNJcwgfoEwTIytVHXIVaaAngisIK
9R+ZRP82PNznA/gZ9w1RgVzrmfAAfmI79RGoQFQfgCpEBbIe9rsClqlCTKirQL6pPopg0SCwPIsL
VSB/s10BoM9Qgag+AFWICqQdY00A6DtUIKtWH668Auoa/BVZQ69ArPsA6hr8upChB8gf3gOAPkSA
rOTi+HL8UvUB3KoKSX2JABkYl+EB+hIBsnL1MQp23AXWo0h9igAZiCfOeUCfcjuDu4zXwkGgIYNb
WDjECmTsPAf0LQJEqQnoWwRI80yeAw0a3GT60CoQ1Qegj1mTwUyip32vvji/gYb9NpT9sYZUgew6
rwF9jQCp45HzGtDXrM8ghrCs/QBaNohhrKFUIIavgDaNh/Aifx3IwYyfBA6c00CLfQ4AAAAAAAAA
AAAAAAAAAAAAAAAAAADQe1neUOriOJyUT4XDC3TEbGs/7OX2onK9H8jY+Qp0THYBkt0dCcvqY+Q8
BfRNAqSOHacqoG8SIHXcdZ4C+iYBUkfhPAX0TQKkjpHzFNA3CZCVXByb/wD0UQJEiQjkJ6s+KrcA
UYEA+igBUsvvzk9AHyVABl8eAtnJqo8yhAWgjxIgpW3nJ6CPEiArcQkvoK8SIJIdUIUIkFapQAB9
lQBRgQAqEAECQJZyCpAHDiegrxIgAAgQAARIt40cTkBfJUAAECAACBAAAAAAAAAAAAAAAAAAAAAA
AAAAAADoo61cXsjFcbhwOIFedLz7efS9tnMHQIAAIEAAECCtmTucgL5KgNQxdV4C+ioBAoAAAUCA
dNu5wwnoqwQIAAKkNTOHE9BXCRABAggQAeKgAOTYV23ldFRsqAh0vtPdz6ffzW0SXRUC6KMEiIMD
CBAB0h7bmQD6KAFSy1/OT0AfJUDqmDg/AX2UAKlj5vwE9FHt2Mrt6LiUF+hsh7ufV5+b415YE6cp
oG8SIHW4EgvQNwEAAAAAAAAAAAAAAAAAAAAAAEDGtnJ+cRfH4bB8euYwAxtytLUfnuf64n7J/OC9
c/4C+iAVSN0q5Ev5tO08Blo2L6uP33J+gb8M4CCeOY8BfY8AqePceQzoewSITwGAvkeAtGNrP8yF
CNB2eKS+R4BkwNVYgD5HgCglAX2OAGmJYSygzfAYwvDVkCqQ6I3zGtDXrPHD+ZCOqkWFQMOyXzw4
1ArksrR0fgP6GAFSxyvnN6CPESArK0vLafk0dY4DDZimPkaA+IQAoG8RIN+KY5Rz5zqwRoNcKjC4
ALEmBGjig+lQ1n4MvQKJDpzvgD5FgNSpQmbl08Q5D6zBJPUpAAAAAAAAAAAAAAAAAAAAAACsbksT
fOviOHwunwotAXxntrUf7miGr37RBD+wUy+gb1CB1K5C3pdPIy0BJHHH3YeaQQXikwagTxAgDZVl
+5f3CjnVEkDsC1KfgABZ2vPg3ukwdPPUFyBAVqpC5spWGLyDId7rfOl+UhNc7+I4fCyfdrQEDM60
DI97mkEFchvKV/DeR4DUKNGqybMjLQGDcmTiXICsS5wLmWkGGIRZMP8pQNZYhcRJtD0tAYOwZ+Jc
gKw7RGI5aygL8mboSoA0xlAW5GsWDF0JkAarEENZkC9DVwKk8RCJ5a2hLMiLoas6/aEmqMcCQ8iG
BYM1/aoJansc3HgKcjDTBAAAAAAAAAAAAAAAAAAA37GVSYMujsOz8mlbS8DGzLf27V3XFFuZNGta
Pt5rBtiYh5qgOXbjbbK8q3b3tP07bMaeHXYb7uM0QfMujsO4fDrREtBqeJxqBhVIDpVIPJGNw0I7
joSHCiTHSiRWIWMtAY05LcPDsLEAESKA8BAgCBEQHgIEIQLCAwEiREB4IECECAgPBIgQAYRHD1gH
0oUUr94Iz7UELOW58FCB8GMlEqsQK9bh56wwFyBcEyK7KUTs4gtfzVN4nGkKAAAAAAAAAAAAAAAA
AIAWWImeAZsx0kM2QxQgdChEbIFCH9iSRIDQ0RDZTiGyqzXooLMUHnNNIUBQjYCqQ4CgGgFVBwKE
H6uRw/JRaA1aNAvVjZ9UHQKEDKqRZ+XjhdagBQfl40jVIUDIK0hiFRKHtUZagwZMQjVcNdMUAoR8
g8SwFusUA8NwlQBhYEGyGNZytRZ1xCGqgzI4jjSFAGGYIbKYH/lDkLBCcLwK5jkEiCYgBUmRqpFC
a3CNWaiGqwQHAAAAAAAAAAAAAAAA9ISFhDQmrXIfl48n5WNHi7RqWj7ehOre4xb9IUDodZgUobq5
1YPgJldNiZsZnsdnO+IiQMi5MhmVj0fpudAqtcSQmJSPd/FZpYEAYajVydVAsanjP5t/FxiqDAQI
/CRQ4nDXThju/Mk0Pc4FBgIE6ofKKAXJ3RD+DpicxMoiBsSnGBplWEwcdQQINFupLMLk3ylgFv+t
i2bpEauKvxahobJAgEA3w2U7fB0C+/27cNkJt59vmadAuBoSf6bvp+n/Cwmy9P8CDABjO56vdufz
DwAAAABJRU5ErkJggg==" />
        </td>
        <td style="width:55%;text-align:center;color:gray;font-size:10;">
            <img style="width:200" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAfQAAABkCAYAAABwx8J9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
bWFnZVJlYWR5ccllPAAAC9FJREFUeNrsnYFRHLkShtsUAWwGbxzB7UXgcQSGCG6IAIiAJQJwBLuO
ABMBcxF4XwTsiwAcgQ+dNc/YZheWnZn+JX1f1ZSrfL5ajUbqX91qtfbNrDY/Wsff9nzvwP3Ds9zw
36v4wM8sY9+9hsnDM3Vuf+v8+7XQWK8THENqeI3p1splGvu9G7/vdvwWq/h0Y/Pro7/beqx+c3y8
mDu/d3gOnmnjTKCNik+zo5h5t3/ubIw83vlGzPZ8icY3B2G5Lcx2j71YqqMtvnLs67s4hyaqE9xz
UDSJGHUEfb0xTlnQvQUFQf/xDaYJi00dDX1pztiQVFEf5o7ivemZIei/r2i9P8rtC405gr7+me5g
BFXe4dZJUBD0nz2fFEVdwSnJhRApvYgLPHW7d/ecduwVtO8x2WBYxuTI8tm/8+I4E2/g5gVbLzC8
TUjpG8zMf9sm9W/exBD6XfzzJJGF3SS2FQ9dZAV2seXExRt/5Uo1AQ9961AaHrpsbsZYzIX6K1UR
z972lTAoFCbC7ZYihKD3b4Br4feZ2zj76gh6PwvusQVJLSScSjh9nqHtm5Us6I3IR6hfEVpDuPtN
jqsTeKcJgl70KYSntmYU93eVvfGZaSa19ekcFinoU0t35Y+g958cV1saIbUpgu76vPiI0Aj26060
j9SoMvXGt4pQ5pwUp5IEFwoDnBsMwXHG47bh87pRC4h6I7SwUP9W3TGzkubMWWmCrjIZyGofjoNM
Dd4kGqkZn9jVO/Y6q35i4+VUpErnkZe6+K2eeu9cBX1uGscQzm1zeVfYXfhyPvYVVuFXGHZXo3kz
si0JtuuCrn92sVuaR/5iLz23fZjG0k3aeszM2CPvu5/rhN+x6ml+sIeueaxtYmkdq/IgRC7usHmb
x2VOg2Jq6SZsIejD93Wd8Dv2lSyHoOuJuuKxNCVBn8YxhK17JuM9p5C7ShIcofbxOS7gHTuj3/C5
3Zhb/8faugtWpnTvWq/8i/nfjqlK9bhvchJ0lSS4pZHMNDa5JsetExX2WP1oehT12shkf85BY6w/
z1lugq6SBBc4Yny5TP6SaqIHr4VkOV9R37UIUIOYb1zo3OKVb9VfdS6C3phOGPLUCLV7cVzY+x7Y
+BnY8INuX7d6xf97YVywwkJnAC99L4NJpTIx2ofnknHlOhamBb7zDZ6Ma/9ve1Y92KsTum5t37DQ
2cFL30/4BZSS4ELhGELtGl56ad+hmwfhvRcMAbf+P4yL+uf+HRGV9WLeFPruQT+2iexO7ekIxlnK
gq4UlglZ7SvmpDshDH1qZVbmCwbxHQtLyUVVF0lEzMsU81V8/n4k3tuK+CbP/P8iv5/wAFCZHGFV
nluo/T02JkmCUayit0i5YR+7NPnFHkyNPeGSxPw+asJ/45/Lgedi+8ufyRUnaEyr2Ec10IeaGTcp
9U1t5VTPW7fgpbDMeFewNpZvZbO+xDz1fgjfN5w4OVFwMlPz0JWS4AKE2kF1nnQh4M90h1ukpKYr
1nKRsGcevO7rOLekTjWlJOhKSXBdiIOsdlCeL8FzOGWcukWDYP2CJ7VM/yDcn6KIr3PiPKObb1IT
dKV9qLAncsi8hEQ8oT+MZDnQQC3K+pydX0QhT6K+SCqCrpYhyh3nkJpHFOYPyY7gSRc1Uid44OeW
4DHQFAS9Ma29ls/GviSk6Rl9oRvA2TGrhNvXRiFvU+1gdUFXC89QQAZSpqILwIkD071vIYTTT1MW
8hQEXS0JzoxQOwDAa2y54r75fRTyRS4drVzLXe02KULtAADbc2Z6hXWCiL+1zMolq3roITO3FlvJ
EWoHANiOyrSOqHW2PEvnTFHQG9M7o0gpTQCA7VEKtbe523I1QZ9G71yJS8sgWWJLbhJoI3fPA2hT
m06k9TLajKxREvTujKLSXsvKvh9jKHEiqrPCXgJIcyzSjmKuFlZKigtiXon1D1ntmnzmuwBIE2y5
wjG1YsRcSdDVkuACJYbaU+E6sfZeGickAO8cMS9A0BvTS4JbWZmh9pQ89JT4at+TcRhTUAoNYl6m
oB8L9guhdm0xT/XbzIwTE1CGmHvmQi1KFHMVQf8o1ieE2rW5Trz9YUESLkkhQx9y5YPjby+t4Joh
ClnuYSX1l+nsof+P+SgviKmzjKJ+Zdyb7UnYAjlLqL33pldx7Sk8k+E+lj6nvjk+HVPndjx+7kQm
zUyoT1SeXa9erJ3aPdvQposCvtuNoO359kh87hLow3lsq0p7Nok5tsrpe6hkuS9NZ89jYnrFbeA7
1xm+06mRs+Ed8QnRkpVwGy8TGiPvGFJ+KJ1DPxUasA2hUFnjmyOLBEQlZ4JD8adp5s4cWVoVzrCb
CPq/BDFXOtaDl64n5jl7sZ2okCznZ3/eR29YpT2Hll629pShhKB3XAp5KWFgnjBEZLgu4B3vo6gv
+NxudFsgCouL1CJSeOcI+m8oHTlQvMe3ZA+9FI6M63o9WcSFlUdEKERo3lqakRq8cwT9N1oh402C
nI6Yl5Y05ikq4COsXYJeqt/8PwwbBP0plJJAGiOU5M11oe+dsreWA2NugYTfSL2KIB46gv4kKyNB
Dn72XEoWlffGvronQ2eaK+zb9wHbkwj6Wi6FVqskyPl6qaWHne8tveNLuXFp/YfDu+96mUkf4aEj
6BsHu5IBI0HOh090waCiAi+ntf6OFhJ5gaIE3eJgb0XaQoKcD9wj/ruocLmLHyvb/UgZNQegSEEP
KO2lN0aC3Jgsjepp6/olxXPKudAVfTnf4dvlNq4rhgWC/lKPZCHUnhK89Dciz59M0UFEBfphZttl
pi8s36OICDqC/mKU6ryTIAcpiwr0y0svdwkLL4oFAYIejdVHofaQIAcpigoMw3OXuxzZ5it0AYoS
9M4TUTFYJMhBaqICwzsdv17uUlJtfsYdgr41SiGrxkiQA31RgXHpisR0yW9ksgOCvmEVqLQSnDOE
QFhU2Ff3YWEcSwMEPTkvvTL2xkBXVChCA7kSHLs3Yg+C/gpWpnVU59g4sgGacLkLjC2yYzpTkIGg
B5TqvJMgB8qolVAGQNARdGkjdWAkyAFA2YwdCULUMxH0wMJIkAMAUOHryL/H7W4ZCXpAaS89rBZn
DCkAKJSxHSwEPTNBb02raAMJcgBQKquRf+8dXZ6XoAeU6ryTIAcAJQv6mLa4pst/Zj+Dd+jqvJ+J
tKdLkGsT7tObDMbEIdMbYHSWIwttsLdcI5yRoAdmD89fphPuDglybxPuz9RXvkxwAB/+Htl+fGC+
/2Avo3dROsZWGQlynlzTBQAutDgfCHpfXlkr1B4S5PDQARD04Z2nA7o9P0EPKNV5J0HOT8ypXw5Q
jqh/oMvzFPSVaV0dSQW58SHcDlDWHDyIDhSCnuE7nYt5aFSQy9s7AADfOTgxwu7ZCrpanffKSJAb
i3BkZkU3ABQ3D8/o9jwFPbAwrSsjSZAbh090AYAEYyemBvtaI+j5ouSlkyCXpxEBAJ3FdfFees6C
3ppWnXcS5IaFcDtA2fOxLt3G7mX+fiTIlUNLFwBI4RExK9pLz13Qwwrxo1B7KiNBbijYPwdgTgYP
vUHQ82VmWqFYEuSGWbgt6YaN/QMwNkuneRnylYo8l75XyHuSIJc3JMMh6ICXXryNLUXQ1eq8kyDX
L1SHA9Bk4fS7jRVYbGavoHc9EmsPCXL9cG8kxAEoz08vUZ9bYaH3kgR9ZVp13isjQa4PCLcDaHPu
9LtBzK8Q9LwHltIxNhLkdodwO4C+M9U6/XZtBe2nlyboanXewwqS0Ptu3xMPHQAvfRMnVshRtr0C
B9bCtI44hRUkNwW9DsQcIA1a8811CQVnqtw7ef/heV/g4DoU+7j3axYeLXZgI6st//3SabyvBPrq
vdj49m5TiiwT77NzG/90zyr+7iLzOQYAADAqYYvx2wjPrRVcMQ4AAGBoqoGF/Mao8QEAADAKM4Qc
AAAgfcLpntuehHyOkAMAAPhx0IOQV3QjAACAP1dbivgdQg4AAKDHJIr0S4R8ZoVeiQoAAJACBwg5
AABAHlwYZ8gBAACy4AtCvjv/CDAABuomqdLV6YgAAAAASUVORK5CYII=" /><br/>
            Avenida Victoria Lote 86-B Fundo Esperanza Baja<br />
            Huaral - Hural - Lima<br />
            Telf.: <a href="tel:012462916">+51 1 246 2916</a>
        </td>
        <td style="border: solid 1mm #000000; width: 30%; text-align:center;font-weight:bold;font-size:18;padding:5 0 5 0">
            <span>R.U.C. N° {{emisor.documento.numero}}</span><br />
            {% if type == '01' %}
            <span>FACTURA</span><br />
            <span>ELECTRÓNICA</span><br />
            {% elseif type == '03' %}
            <span>BOLETA</span><br />
            <span>ELECTRÓNICA</span><br />
            {% elseif type == '20' %}
            <span>COMPROBANTE DE RETENCIÓN</span><br />
            <span>ELECTRÓNICO</span><br />
            {% endif %}
            {% set toks = documento.numero|split('-')%}
            <span>{{ toks[0] }}</span>
            <span>-</span>
            <span style="color:red">{{ toks[1]}}</span>
        </td>
    </tr>
</table>