<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="document.url.template" value="http://localhost/fel-hv/load-xml.php?edn={ruc}&amp;dt={tipo}&amp;dsn={numero}" />
    <add key="document.name.template" value="{ruc}-{tipo}-{numero}" />
    <add key="identity.file" value="identity.pfx" />
    
    <add key="20100318696.workdir" value="F:\fel\files\20100318696" />
    <add key="20100318696.keystore.pass" value="hv150712" />
    
  </appSettings>
</configuration>