<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="template.document_url" value="http://localhost/sunat-cpe/xml/load.php?name={0}" />
    <add key="template.pdf_url" value="http://localhost/sunat-cpe/pdf/20/html.php?name={0}" />
    <add key="update.signature_url" value="http://localhost/sunat-cpe/xml/savesignature.php" />
    <add key="update.sunat_url" value="http://localhost/sunat-cpe/xml/savesunat.php" />
    <add key="platform.api_url" value="http://localhost/sunat-cpe/api" />
    <add key="workdir" value="F:\fel\files\{0}" />
    <add key="20100318696.keystore.name" value="identity.pfx" />
    <add key="20100318696.keystore.pass" value="hv150712" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BillServicePortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding2" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://e-beta.sunat.gob.pe:443/ol-ti-itemision-otroscpe-gem-beta/billService"
          binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
          contract="BillService.billService" name="BillServicePort" />
      <endpoint address="https://e-beta.sunat.gob.pe:443/ol-ti-itemision-otroscpe-gem-beta/billService"
          binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding1"
          contract="BillService.billService" name="BillServicePort.1" />
    </client>
  </system.serviceModel>
</configuration>