<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    
    <!-- URL para generacion del XML y descarga de PDF -->
    <add key="template.document.url" value="http://localhost/sunat-cpe/plain/{0}.xml" />
    <add key="template.pdf.url" value="http://localhost/sunat-cpe/{0}.pdf" />
    
    <!-- URL para actualizacion de datos en plataforma -->
    <add key="platform.api.url"     value="http://localhost/sunat-cpe/api" />
    
    <!-- directorios de trabajo, se debe considerar que el valor {0} se reemplaza por el ruc -->
    <add key="workdir" value="D:\fel\files\{0}" />
    <add key="folder.pdf" value="pdf" />
    <add key="folder.xml" value="xml" />



  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BillServicePortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding2" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- RUTA PRODUCCION https://www.sunat.gob.pe/ol-ti-itemision-otroscpe-gem/billService -->
      <!-- RUTA PRUEBAS    https://e-beta.sunat.gob.pe/ol-ti-itemision-otroscpe-gem-beta/billService -->
      <endpoint address="https://www.sunat.gob.pe/ol-ti-itemision-otroscpe-gem/billService"
          binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
          contract="BillService.billService" name="BillServicePort" />
      <endpoint address="https://www.sunat.gob.pe/ol-ti-itemision-otroscpe-gem/billService"
          binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding1"
          contract="BillService.billService" name="BillServicePort.1" />
      <endpoint address="https://e-factura.sunat.gob.pe/ol-ti-itcpfegem/billService"
          binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
          contract="BillService.billService" name="emision" />
      <endpoint address="https://www.sunat.gob.pe/ol-ti-itemision-otroscpe-gem/billService"
          binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
          contract="BillService.billService" name="otroscpe" />
    </client>
  </system.serviceModel>
</configuration>