<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>

    <!-- URL para generacion del XML y descarga de PDF -->
    <add key="template.document.url" value="http://localhost/sunat-cpe/plain/{0}.xml" />
    <add key="template.pdf.url" value="http://localhost/sunat-cpe/{0}.pdf" />

    <!-- URL para actualizacion de datos en plataforma -->
    <add key="platform.api.url"     value="http://localhost/sunat-cpe/api" />

    <!-- directorios de trabajo, se debe considerar que el valor {0} se reemplaza por el ruc -->
    <add key="workdir" value="D:\fel\files\{0}" />
    <add key="folder.pdf" value="pdf" />
    <add key="folder.xml" value="xml" />

  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BillServicePortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BillConsultServicePortBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- Testing -->
      <endpoint address="https://e-beta.sunat.gob.pe/ol-ti-itcpfegem-beta/billService"
          binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
          contract="Sunat.billService" name="testing.invoice" />
      <endpoint address="https://e-beta.sunat.gob.pe/ol-ti-itemision-otroscpe-gem-beta/billService"
            binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
            contract="Sunat.billService" name="testing.certificate" />
      <endpoint address="https://e-beta.sunat.gob.pe/ol-ti-itemision-guia-gem-beta/billService"
            binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
            contract="Sunat.billService" name="testing.despatch" />
      <!-- QA -->
      <endpoint address="https://www.sunat.gob.pe/ol-ti-itcpgem-sqa/billService"
          binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
          contract="Sunat.billService" name="qa.invoice" />
      <endpoint address="https://www.sunat.gob.pe/ol-ti-itcpgem-sqa/billService"
            binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
            contract="Sunat.billService" name="qa.certificate" />
      <endpoint address="https://www.sunat.gob.pe/ol-ti-itcpgem-sqa/billService"
            binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
            contract="Sunat.billService" name="qa.despatch" />
      <!-- Live -->
      <endpoint address="https://e-factura.sunat.gob.pe/ol-ti-itcpfegem/billService"
          binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
          contract="Sunat.billService" name="live.invoice" />
      <endpoint address="https://www.sunat.gob.pe/ol-ti-itemision-otroscpe-gem/billService"
            binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
            contract="Sunat.billService" name="live.certificate" />
      <endpoint address="https://e-guiaremision.sunat.gob.pe/ol-ti-itemision-guia-gem-beta/billService"
            binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
            contract="Sunat.billService" name="live.despatch" />
    <endpoint address="https://www.sunat.gob.pe:443/ol-it-wsconscpegem/billConsultService"
        binding="basicHttpBinding" bindingConfiguration="BillConsultServicePortBinding"
        contract="SunatQuery.billService" name="live.query" />
    </client>
  </system.serviceModel>
</configuration>