<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="CPE Api" stopProcessing="true">
                    <match url="^api/(.*)" />
                    <action type="Rewrite" url="api/index.php" />
                </rule>
                <rule name="CPE pdf" stopProcessing="true">
                    <match url="^([0-9\-A-Z]+).*\.pdf" />
                    <action type="Rewrite" url="pdf/export.php?name={R:1}" />
                </rule>
                <rule name="CPE xml plain" stopProcessing="true">
                    <match url="plain/([A-Z0-9\-]+)\.xml" />
                    <action type="Rewrite" url="xml/load.php?name={R:1}" />
                </rule>
                <rule name="CPE xml" stopProcessing="true">
                    <match url="^([A-Z0-9\-]+).xml" />
                    <action type="Rewrite" url="xml/signed.php?name={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
