<table style="width: 100%" cellspacing="0">
    {% if not respuesta.sunat_mensaje is null %}
    <tr>
        <td colspan="2">
            <div style="width:100%"><strong>MENSAJE DE SUNAT:</strong> <span>{{ respuesta.sunat_mensaje }}</span></div>
            <br />
            <br />
        </td>
    </tr>
    {% endif %}
    <tr>
        <td style="width:50%;font-size:11;">
            <span>COMPROBANTE ELECTRÓNICO {{ id }}</span><br/>
            {% if not respuesta.firma_hash is null %}
            <span>Código de seguridad (hash): {{ respuesta.firma_hash }}</span><br/>
            {% endif %}
            <span>Autorizado mediante
                {% block sunat_ri %}
                    FILL ME BY CLIENT
                {% endblock %}
            </span><br/>
            <span>Consulte su comprobante en</span>
            {% block url_consulta %}
                FILL ME BY CLIENT
            {% endblock %}
            <br/>
            <span>Página [[page_cu]] de [[page_nb]]</span>
        </td>
        <td style="width:50%;font-size:11;">
            {% set pdf417 = emisor.documento.numero %}
            {% set pdf417 = pdf417 ~ '|' ~ documento.tipo %}
            {% set pdf417 = pdf417 ~ '|' ~ documento.numero %}
            {% set pdf417 = pdf417 ~ '|' ~ '0.00' %}
            {% set pdf417 = pdf417 ~ '|' ~ retencion.total.retencion.monto %}
            {% set pdf417 = pdf417 ~ '|' ~ documento.fecha_emision %}
            {% set pdf417 = pdf417 ~ '|' ~ proveedor.documento.tipo %}
            {% set pdf417 = pdf417 ~ '|' ~ proveedor.documento.numero %}
            {% set pdf417 = pdf417 ~ '|' ~ respuesta.firma_hash %}
            {% set pdf417 = pdf417 ~ '|' ~ respuesta.firma_valor %}
            <img style="width:100%" src="http://localhost/sunat-cpe/pdf/417.php?data={{ pdf417 }}" />            
        </td>
    </tr>
</table>