{% extends 'default/footer.twig' %}

{% block sunat_ri %}
    RI - N° 032-005-0001212/SUNAT
{% endblock %}

{% block url_consulta %}
    <a href="www.fabricadefideoseltriunfo.com">www.fabricadefideoseltriunfo.com</a>
{% endblock %}