{% extends '20100286981/footer_base.twig' %}

{% block sunat_ri %}
    RI - N° 032-005-0001212/SUNAT
{% endblock %}

{% block url_consulta %}
    <a style="color:#777777" href="www.fabricadefideoseltriunfo.com">www.fabricadefideoseltriunfo.com</a>
{% endblock %}