<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BillServicePortBinding" >
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="BillServicePort" address="https://e-beta.sunat.gob.pe:443/ol-ti-itemision-otroscpe-gem-beta/billService"
        binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
        contract="beta.billService" />
    </client>
  </system.serviceModel>
</configuration>