<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BillServicePortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BillConsultServicePortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BillConsultServicePortBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://e-beta.sunat.gob.pe/ol-ti-itcpfegem-beta/billService"
        binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
        contract="Sunat.billService" name="testing.invoice" />
      <endpoint address="https://e-beta.sunat.gob.pe/ol-ti-itemision-otroscpe-gem-beta/billService"
        binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
        contract="Sunat.billService" name="testing.certificate" />
      <endpoint address="https://e-beta.sunat.gob.pe/ol-ti-itemision-guia-gem-beta/billService"
        binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
        contract="Sunat.billService" name="testing.despatch" />
      <endpoint address="https://www.sunat.gob.pe/ol-ti-itcpgem-sqa/billService"
        binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
        contract="Sunat.billService" name="qa.invoice" />
      <endpoint address="https://www.sunat.gob.pe/ol-ti-itcpgem-sqa/billService"
        binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
        contract="Sunat.billService" name="qa.certificate" />
      <endpoint address="https://www.sunat.gob.pe/ol-ti-itcpgem-sqa/billService"
        binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
        contract="Sunat.billService" name="qa.despatch" />
      <endpoint address="https://e-factura.sunat.gob.pe/ol-ti-itcpfegem/billService"
        binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
        contract="Sunat.billService" name="live.invoice" />
      <endpoint address="https://www.sunat.gob.pe/ol-ti-itemision-otroscpe-gem/billService"
        binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
        contract="Sunat.billService" name="live.certificate" />
      <endpoint address="https://e-guiaremision.sunat.gob.pe/ol-ti-itemision-guia-gem-beta/billService"
        binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
        contract="Sunat.billService" name="live.despatch" />
      <endpoint address="https://www.sunat.gob.pe:443/ol-it-wsconscpegem/billConsultService"
        binding="basicHttpBinding" bindingConfiguration="BillConsultServicePortBinding"
        contract="SunatQuery.billService" name="BillConsultServicePort" />
    </client>
  </system.serviceModel>
</configuration>